html {
	width: 100%;
	background-color: #222;
	color: #eee;
}
.xdebug-error th { background-color: #222; font-weight: normal; font-family: sans-serif; }
.xdebug-error td { color: #000; }
.xdebug-error th span { background-color: #222 !important; }