html, body { padding: 0; margin: 0; }
body { background-color: #222; color: #555; font-family: arial; overflow: hidden; }
form { padding: 0; margin: 0; }

#title_bar { 
	background-image: url(../img/bar.png);
	background-repeat: repeat-x;
	font-size: 13px; 
	line-height: 40px; 
	color: #eee;
	text-shadow: 0 1 0 #000000;	
	height: 40px;
	width: 100%;
	z-index: 9999;
}
#title { font-size: 20px; padding: 0 15px; color: #eee; float: left; height: 40px; line-height: 39px; border-right: 1px solid #141414; }

.CodeMirror { font-size: 13px; float: left; width: 50%; }

.btn {
	background-image: url(../img/button_sprite.png);
	color: #eee;
	text-shadow: 0 1 0 #000000;
	width: 90px;
	height: 30px;
	border: 0;
	background-color: transparent;
	font-weight: bold;
	cursor: pointer;
}
.btn:hover { background-position: 0 -30px; }
.btn:active { background-position: 0 -60px; }
.btn:active, #run:selected, #run:visited { outline: none;	}
.icon { vertical-align: text-top; }
#reset { margin-left: 14px; }

#title_bar .btn { margin-top: 5px; line-height: 24px; }

#button_container { text-align: center; display: inline; }
#button_container label { margin-left: 14px; }

#title_bar select { background-color: #141414; color: #eee; border: 1px solid #444; }

#php_frame { border: none; background-color: #fff; float: right; width: 50%; }

#resize_ball { position: fixed; width: 32px; height: 32px; z-index: 9999; cursor: e-resize; }

input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label  span {
	display: inline-block;
	vertical-align: middle;
	width: 19px;
    height: 19px;
    margin: -4px 4px 0 0;
    background: url(../img/check_radio_sprite.png) left top no-repeat;
    cursor: pointer;
}
input[type="checkbox"]:checked + label span{
    background: url(../img/check_radio_sprite.png) -19px top no-repeat;
}