html, body { padding: 0; margin: 0; }
body { background-color: #222; color: #555; font-family: arial; overflow: hidden; }
form { padding: 0; margin: 0; }

#title_bar { 
	background-color: #333;
	background-repeat: repeat-x;
	font-size: 13px; 
	line-height: 40px; 
	color: #ccc;
	height: 40px;
	width: 100%;
	z-index: 9999;
}
#title { font-size: 18px; padding: 0 15px; float: left; height: 40px; line-height: 39px; border-right: 1px solid #141414; }

.CodeMirror { font-size: 13px; float: left; width: 50%; }


.button {
	
	-moz-box-shadow:inset 0px 1px 0px 0px #999999;
	-webkit-box-shadow:inset 0px 1px 0px 0px #999999;
	box-shadow:inset 0px 1px 0px 0px #999999;
	
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #545454), color-stop(1, #3f3f3f));
	background:-moz-linear-gradient(top, #545454 5%, #3f3f3f 100%);
	background:-webkit-linear-gradient(top, #545454 5%, #3f3f3f 100%);
	background:-o-linear-gradient(top, #545454 5%, #3f3f3f 100%);
	background:-ms-linear-gradient(top, #545454 5%, #3f3f3f 100%);
	background:linear-gradient(to bottom, #545454 5%, #3f3f3f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#545454', endColorstr='#3f3f3f',GradientType=0);
	
	background-color:#545454;
	
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	
	border:1px solid #000000;
	
	display:inline-block;
	color: #ccc;
	font-family:arial;
	font-size:13px;
	font-weight:normal;
	padding: 6px 15px;
	text-decoration:none;
	
	text-shadow:0px 1px 0px #000000;
	
}
.button:hover {
	
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #646464), color-stop(1, #4f4f4f));
	background:-moz-linear-gradient(top, #646464 5%, #4f4f4f 100%);
	background:-webkit-linear-gradient(top, #646464 5%, #4f4f4f 100%);
	background:-o-linear-gradient(top, #646464 5%, #4f4f4f 100%);
	background:-ms-linear-gradient(top, #646464 5%, #4f4f4f 100%);
	background:linear-gradient(to bottom, #646464 5%, #4f4f4f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#646464', endColorstr='#4f4f4f',GradientType=0);
	
	background-color:#646464;
	cursor: pointer;
}
.button:active {
	position:relative;
	top:1px;
}
a.button { padding: 0; }

.icon { vertical-align: text-top; }
#reset { margin-left: 14px; }

#button_container { text-align: center; display: inline; }
#button_container label { margin-left: 14px; }
#button_container > img { vertical-align: middle; }

#title_bar select { background-color: #141414; color: #eee; border: 1px solid #444; }

#code_div { position: absolute; top: 40px; left: 0; bottom: 0; }
#result_div { position: absolute; top: 40px; right: 0; bottom: 0; }
#result_frame { border: none; width: 100%; height: 100%; background-color: #fff; }
#resize_bar { position: absolute; top: 40px; bottom: 0; width: 4px; background-color: #333; cursor: e-resize; }
#resize_bar:hover { background-color: #444; }

input[type="checkbox"] { display: none; }
input[type="checkbox"] + label { cursor: pointer; }
input[type="checkbox"] + label  span {
	display: inline-block;
	vertical-align: middle;
	width: 19px;
    height: 19px;
    margin: -4px 4px 0 0;
    background: url(../img/check_radio_sprite.png) left top no-repeat;
    cursor: pointer;
}
input[type="checkbox"]:checked + label span { background: url(../img/check_radio_sprite.png) -19px top no-repeat; }

/* Navigation Menu */
.drop { position: relative; display: inline-block; padding: 0 15px; cursor: pointer; }
.drop:hover { background-color: #222; }
.drop > div { display: none; position: absolute; z-index: 9997; width: 200px; background-color: #222; line-height: 30px; padding: 5px 0; left: 0; box-shadow: 5px 5px 5px #111;
	-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;user-select: none; cursor: default; }
.drop div label { cursor: pointer; display: block; padding-left: 10px; }
.drop div label:hover { background-color: #333; }
.drop .button { width: 180px; margin-left: 10px; }

.subdrop { position: relative; padding-left: 37px; cursor: pointer; }
.subdrop:hover { background-color: #333; }
.subdrop div { position: absolute; top: -5px; left: -9999px; background-color: #222; width: 200px; padding: 5px 0; }

#help_window { text-align: center; padding: 10px; }
#help_window .button { margin-left: 0; }
#help_window h2 { margin-top: 0; }

.ace_gutter-cell { color: #555; text-shadow: 1px 1px 0 #000; }