html, body { padding: 0; margin: 0; }
body { background-color: #222; color: #555; font-family: arial; overflow: hidden; }
form { padding: 0; margin: 0; }

#title_bar { 
	background-image: url(wooden_bar.png);
	background-position: 0 -5px;
	background-repeat: repeat-x;
	font-size: 13px; 
	line-height: 48px; 
	color: #885f3d; 
	height: 50px;
	width: 100%;
}
#title { font-size: 20px; padding: 0 15px; color: #986f4d; float: left; height: 50px; line-height: 47px; border-right: 1px solid #cca380; }

.CodeMirror { font-size: 13px; float: left; width: 50%; }

.btn {
	background-image: url(button_sprite.png);
	width: 90px;
	height: 30px;
	border: 0;
	background-color: transparent;
	font-weight: bold;
	cursor: pointer;
	color: #885f3d; 
}
.btn:hover { background-position: 0 -30px; }
.btn:active { background-position: 0 -60px; }
.btn:active, #run:selected, #run:visited { outline: none;	}
.icon { vertical-align: text-top; }
#reset { margin-left: 14px; }

#button_container { text-align: center; display: inline; }
#button_container label { margin-left: 14px; }

#title_bar select { background-color: #784f2d; color: #f8d9af; border: 1px solid #f8c99f; }

#php_frame { border: none; background-color: #FFF; float: right; width: 50%; }

#resize_ball { position: fixed; width: 32px; height: 32px; z-index: 9999; cursor: e-resize; }